body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

li {
  list-style-type: none;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .App-title {
    font-size: 30px;
  }

  .powered {
    display: none;
  }

  .eb-orange-text {
    display: none;
  }

  .search-bar {
    margin-top: 10%;
  }

  .search-bar input {
    width: 90%;
  }

  .event-title {
    width: 375px;
  }

  .dropn-down {
    width: 70%;
    margin-left: 10%;
  }
}
