.App-header {
  background-color: white;
  height: 80px;
  width: 100%;
  padding: 7px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 60px;
  float: left;
  margin-left: 1%;
  margin-bottom: 1%;
}

.App-title {
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 0%;
  float: left;
  font-size: 2.5rem;
  font-weight: 300 !important;
  line-height: 3rem;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.powered {
  font-size: 1.5rem;
}

.eb-orange-text {
  color: #f86820;
  font-size: 1.5rem;
}
